<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Endpoints</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
      <script src="static/ui.js"></script>
      <link rel="stylesheet" type="text/css" href="static/ui.css">
  </head>
  <body>
    <div ng-controller="tokenController" ng-init="checkToken()">
        <div ng-hide="accessToken.length>0" ng-controller="cookieController">
            Instructions:
            <ol>
            <li>Navigate to https://app.crittercism
                .com/developers/user-settings</li>
            <li>Click on OAuthTokens</li>
            <li>Generate token</li>
            <li>Paste Access Token below</li>
            </ol>
            <form name="setAccessToken" ng-submit="submit()">
              Access Token: <input type="text" ng-model="text" name="text" />
              <input type="submit" id="submit" value="Submit" />
            </form>
        </div>
        <div ng-init="checkToken()" ng-hide="!accessToken" ng-controller="endpointsController">
            Access token: {{ accessToken }} <button ng-click="deleteToken()">Change</button>
            <form name="queryEndpoints" ng-submit="submit()">
                App ID: <input type="text" ng-model="app_id" name="app_id" />
                <label for="sortSelect">Sort</label>
                <select ng-model="sort" name="sort" ng-init="sort='data'">
                    <option value="data" selected>Data</option>
                    <option value="volume">Volume</option>
                    <option value="latency">Latency</option>
                    <option value="errors">Errors</option>
                </select>
                <label for="durationSelect">Last</label>
                <select ng-model="duration" name="duration" ng-init="duration='15'">>
                    [15, 60, 240, 480, 720, 1440, 2880],
                    <option value="15" selected>15 Minutes</option>
                    <option value="60">1 Hour</option>
                    <option value="240">4 Hours</option>
                    <option value="720">12 Hours</option>
                    <option value="1440">1 Day</option>
                    <option value="2880">2 Days</option>
                </select>

                <input type="submit" id="submit" value="Submit" />
            </form>
            <div ng-hide="!error">Errors from API: {{ error }}</div>
            <div ng-controller="tableController" ng-hide="!endpointData">
                <table class="endpoint">
                    <tr>
                        <th>
                            <button ng-click="predicate = 'domain'; reverse=!reverse">Domain</button>
                        </th>
                        <th>
                            <button ng-click="predicate = 'domain'; reverse=!reverse">URI</button>
                        </th>
                        <th>
                            <button ng-click="predicate = 'domain'; reverse=!reverse">Value</button>
                        </th>
                        <th>
                            <button ng-click="predicate = 'domain'; reverse=!reverse">Start</button>
                        </th>
                        <th>
                            <button ng-click="predicate = 'domain'; reverse=!reverse">End</button>
                        </th>
                    </tr>
                    <tr ng-repeat="endpoint in endpointData.data | orderBy:orderByFunction:reverse">
                        <td>{{ endpoint.domain }}</td>
                        <td>{{ endpoint.uri }}</td>
                        <td>{{ endpoint.value }}</td>
                        <td>{{ endpoint.start | date:'yyyy/MM/dd HH:mm'}}</td>
                        <td>{{ endpoint.end | date:'yyyy/MM/dd HH:mm' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>

